{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<link href="{% static 'favicon.ico' %}" rel="icon" type="image/ico">
	<title>Profile - {{user_profile.user.username}}</title>
    
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>

<body>
	
	<section>
			<div class="feature-photo">
				<figure><img src="{% static 'images/resources/timeline-1.jpg' %}" alt=""></figure>
				<form action="/follow" method="POST">
					{% csrf_token %}
					<div class="add-btn">
					
					{% if user_post_length == 0 %}
					<span style="color: white; font-size: 27px;"><b>No Post</b></span>
					{% elif user_post_length == 1 %}
					<span style="color: white; font-size: 27px;"><b>{{user_post_length}} Post</b></span>
					{% else %}
					<span style="color: white; font-size: 27px;"><b>{{user_post_length}} Posts</b></span>
					{% endif%}

					<span style="color: white; font-size: 30px; margin:20px;"><b><u><a href="/">Home</a></u></b></span>
					
					</div>
				</form>

				<div class="container-fluid">

					<div class="row merged">

						<div class="col-lg-2 col-sm-3">

							<div class="user-avatar">

								<figure>
									<img src="{{user_profile.profileimg.url}}" style="height: 250px; width: 100%;" alt="">
								</figure>

							</div>

						</div>

						<div class="col-lg-10 col-sm-9">

							<div class="timeline-info">

								<ul>
									<li class="admin-name">
									    <h3 style="color: black;white-space: nowrap; width: 110px; font-size: 27px;"><b>@{{user_profile.user.username}}</b></h5>
									</li>
								</ul>

							</div>

						</div>

					</div>

				</div>
			</div>
	</section>

	<!-- top area -->
	<section>
			<div class="bio">
				{{user_profile.bio}}
			</div>
	</section>


	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">

							<div class="col-lg-2">
								<aside class="sidebar static"></aside>
							</div>

							<div class="col-lg-8">
								<div class="central-meta">

									{% for post in user_posts %}
										<div class="items-center ">
											<h1>Post {{post.created_at}}</h1>
											<a class="strip" href="{{post.image.url}}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
											<img src="{{post.image.url}}" style="height: 250px; width: 300px;" alt=""></a>
											<p>{{post.caption}}</p>
											<br>
										</div>
									{% endfor %}

								</div>
								
							</div>
							
							<div class="col-lg-2">
								<aside class="sidebar static"></aside>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	<!-- Footer -->
	<div class="lg:mb-5 py-3 uk-link-reset">
		<div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
			<div class="flex space-x-2 text-gray-700 uppercase">
				<a href="#"> About</a>
				<a href="#"> Help</a>
				<a href="#"> Terms</a>
				<a href="#"> Privacy</a>
			</div>
			<p class="capitalize"> © copyright 2022 by <strong>Juan Gracia</strong></p>
		</div>
	</div>

</body>	


</html>